/* Default styles for all screen sizes */
body {
   background: lightgrey;
}
h1 {
   text-align: center;
}

.iframe {
   width: 300px;
   height: 300px;
}
.albums {
   display: grid;
   grid-template-columns: 1fr;
   grid-gap: 20px;
   padding: 20px;
   max-width: 320px;
   margin: 0 auto;
}

.album {
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 1em;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album img {
   width: 100%;
   height: auto;
   border-radius: 4px 4px 0 0;
}

.album h2 {
   margin-top: 10px;
   margin-bottom: 5px;
   font-size: 18px;
}

.album p {
   margin-top: 5px;
   margin-bottom: 10px;
   font-size: 14px;
}

.album button {
   font-size: 20px;
   margin-top: 20px;
}

.player {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

/* Tablet styles */
@media (min-width: 768px) {
   .albums {
      grid-template-columns: 1fr 1fr;
      max-width: 600px;
      margin: 0 auto;
   }
}

/* Laptop styles */
@media (min-width: 1024px) {
   .albums {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 960px;
      margin: 0 auto;
   }
}

/* Desktop styles */
@media (min-width: 1200px) {
   .albums {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 1140px;
      margin: 0 auto;
   }
}
